.appWried{
    text-align: center;
}
.appBtn{
        margin-bottom:20px;
    }
.appBtn button{
    width:65px;
    height:40px;
    line-height: 40px;
    text-align: center;
    border:1px solid;
    border-color:#CCC;
    background: transparent;
    border-radius: 5px;
    cursor:pointer;
    margin-left:10px;
}
.appBtn .active{
    color:#F9b041;
    border-color:#F9b041;
}
.appContent{
    color:#FFF;
    width:60%;
    height:400px;
    background-color: #888;
    border:1px solid #FFF;
    padding:20px 40px;
    margin:10px auto;
}